<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="300">

  <Properties>
    <Property name="baseDir">target/logs</Property>
    <Property name="filename">app</Property>
    <Property name="rollingFileName">${filename}.log</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout
        pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight{-%5p}{FATAL=red blink, ERROR=red, WARN=yellow bold, INFO=green, DEBUG=green bold, TRACE=blue} %style{%pid}{magenta} [%15.15t] %style{%-40.40C{1.}}{cyan} %style{[%-20.40file:%4.4line]}{green} : %m%n%xEx"/>
    </Console>

    <RollingFile name="RollingFile" fileName="${baseDir}/${rollingFileName}"
                 filePattern="${baseDir}/backup/$${date:yyyy-MM}/${filename}-%d{yyyy-MM-dd}-%i.log.gz">
      <PatternLayout>
        <Pattern>%d %-5p [%15.15t] %-40.40C{1.} [%-20.40file:%4.4line] : %m%n</Pattern>
      </PatternLayout>
      <Policies>
        <TimeBasedTriggeringPolicy/>
        <SizeBasedTriggeringPolicy size="10 MB"/>
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${baseDir}" maxDepth="3">
          <IfFileName glob="**/${filename}-*.log.gz"/>
          <IfLastModified age="3d"/>
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>
  </Appenders>
  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile" level="info"/>
    </Root>

    <Logger name="org.apache.servicecomb" level="debug" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile"/>
    </Logger>

    <Logger name="com.github.leleact" level="trace" additivity="false">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RollingFile" level="error"/>
    </Logger>
  </Loggers>
</Configuration>
